{
  "front": "<div class=\"headword\">{{Word}}{{#HasPartOfSpeech}} <span class=\"pos\">({{PartOfSpeech}})</span>{{/HasPartOfSpeech}}</div>{{#HasPronunciation}}<div class=\"pronunciation\">{{Pronunciation}}</div>{{/HasPronunciation}}",
  "back": "<ol class=\"definitions\">{{DefinitionList}}</ol>{{#HasExamples}}<div class=\"examples\"><span class=\"label\">Examples:</span><br>{{Examples}}</div>{{/HasExamples}}{{#HasSynonyms}}<div class=\"synonyms\"><span class=\"label\">Synonyms:</span> {{Synonyms}}</div>{{/HasSynonyms}}"
} 